transformers>=4.45.2
ctranslate2>=4.4.0
faster-whisper>=1.0.3
ffmpeg-python==0.2.0
gradio==5.6.0
yt-dlp
json5
torch
torchaudio
more_itertools
zhconv
sentencepiece

# Needed by diarization
intervaltree
srt
https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip

# Needed by ALMA-GPTQ
accelerate
auto-gptq
optimum
# Needed by ALMA-GGUL
ctransformers[cuda]
# Needed by load_in_4bit parameters in transformers
bitsandbytes