--extra-index-url https://download.pytorch.org/whl/cu124

transformers>=4.45.2
ctranslate2>=4.4.0
git+https://github.com/openai/whisper.git
ffmpeg-python==0.2.0
gradio==5.29.1
yt-dlp
json5

torch==2.5.0+cu124; sys_platform != 'darwin'
torchaudio==2.5.0+cu124; sys_platform != 'darwin'
torch==2.5.0; sys_platform == 'darwin'
torchaudio==2.5.0; sys_platform == 'darwin'

altair
zhconv
sentencepiece

# Needed by diarization
intervaltree
srt
pyannote.audio

# Needed by ALMA-GPTQ
accelerate
auto-gptq
optimum
# Needed by ALMA-GGUL
ctransformers[cuda]
# Needed by load_in_4bit parameters in transformers
bitsandbytes