transformers>=4.45.2
ctranslate2>=4.4.0
git+https://github.com/openai/whisper.git
ffmpeg-python==0.2.0
gradio==5.9.1
yt-dlp
json5
torch
torchaudio
altair
zhconv
sentencepiece

# Needed by diarization
intervaltree
srt
https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip

# Needed by ALMA-GPTQ
accelerate
auto-gptq
optimum
# Needed by ALMA-GGUL
ctransformers[cuda]
# Needed by load_in_4bit parameters in transformers
bitsandbytes